.App {
  text-align: center;
}


.Expiring_items{
  text-align: center;
}

.itemsList{
  display:  flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  border-color: none;
}

.items-Display-headings{
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
}

h6, p{
  width: 200px;
  padding-right: 100px;
}

.items-Display-headings>h4{
  width: 200px;
  padding-left: 20px;
}

.items-Display{
  /* border-color: none; */
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}